<div class="branches-wrapper">
  <h2 class="branches-title">Our Branches</h2>

  <div class="branches-container">
    <!-- Branch 1 -->
    <div class="branch-card">
      <div class="branch-header">
        <img [src] ="environment.imageUrl + 'placeholder.png'" alt="Location Icon" class="icon">
        <h3 class="branch-title">Ali Al Nahri, Bekaa, Lebanon</h3>
      </div>

      <div class="branch-details">
        <div class="detail-row">
          <img [src] ="environment.imageUrl + 'call.png'" alt="Phone Icon" class="icon">
          <a href="tel:+96176127725" class="detail-text">+961 76 127 725</a>
        </div>
        <div class="detail-row">
          <img [src] ="environment.imageUrl + 'mail.png'" alt="Email Icon" class="icon">
          <a href="mailto:malak.abdallah.1990&@hotmail.com" class="detail-text">malak.abdallah.1990&#64;hotmail.com</a>
        </div>
      </div>

      <div class="map-container">
        <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.822031745437!2d36.014980325377564!3d33.868477127413236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1518b7000132631d%3A0x5293ba42236b922d!2sMalak%20Medical!5e0!3m2!1sen!2sus"
 
          width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""
          loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

    <!-- Branch 2 -->
    <div class="branch-card">
      <div class="branch-header">
        <img [src] ="environment.imageUrl + 'placeholder.png'" alt="Location Icon" class="icon">
        <h3 class="branch-title">Sariine, Bekaa, Lebanon</h3>
      </div>

      <div class="branch-details">
        <div class="detail-row">
          <img [src] ="environment.imageUrl + 'call.png'" alt="Phone Icon" class="icon">
          <a href="tel:+96176127725" class="detail-text">+961 76 127 725</a>
        </div>
        <div class="detail-row">
          <img [src] ="environment.imageUrl + 'mail.png'" alt="Email Icon" class="icon">
          <a href="mailto:malak.abdallah.1990&@hotmail.com" class="detail-text">malak.abdallah.1990&#64;hotmail.com</a>
        </div>
      </div>

      <div class="map-container">
        <iframe
          src="https://www.google.com/maps?q=33.8759613,36.0939026&hl=es;z=14&amp;output=embed"
          width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""
          loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</div>
