<div class="about-title">
  <h1>About Malak Medical</h1>
</div>

<section class="about-container">
  

  <div class="about-content">
    <div class="about-text">
      <h2>Our Mission</h2>
      <p>
        At <strong>Malak Medical</strong>, we are dedicated to delivering the highest quality pharmaceutical care with a personal touch. Our mission is to guide and support your health journey through expert advice, effective medication solutions, and compassionate service.
      </p>

      <h2>Our History</h2>
      <p>
        Since our founding in 2010, Malak Pharmacy has evolved from a small neighborhood store into a leading healthcare provider. Serving thousands of satisfied clients, we proudly combine modern pharmaceutical knowledge with a strong sense of community and commitment.
      </p>

      <h2>Our Values</h2>
      <ul class="value-list">
        <li><strong>Integrity & Trust:</strong> Upholding transparency in everything we do.</li>
        <li><strong>Patient-Centered Care:</strong> Every decision starts with your wellbeing.</li>
        <li><strong>Innovation:</strong> We embrace new technologies and continuous learning.</li>
        <li><strong>Community Engagement:</strong> Supporting health and wellness beyond the counter.</li>
      </ul>
    </div>

   
  </div>

  <div class="team-section">
    <h2>Meet Our Team</h2>
    <div class="team-members">
      <div class="member-card">
        <img [src] ="environment.imageUrl + 'team1.jpg'" alt="Dr. Malak Bawari" />
        <h3>Dr. Malak Bawari</h3>
        <p> Pharmacist </p>
      </div>

      <div class="member-card">
        <img [src] ="environment.imageUrl + 'team2.jpg'" alt="Dr. Samer Abdallah" />
        <h3>Dr. Samer Abdallah</h3>
        <p> Pharmacist</p>
      </div>
    </div>
  </div>
</section>
