

<section class="hero">
  <div class="hero-text">
    <h1>Your Health, Our Priority</h1>
    <p>Trusted pharmacy solutions tailored for your wellness journey.</p>
    <button (click)="navigateToContact()">Contact Us</button>
  </div>
  
 <img src="/banner5.png" alt="Malak Medical Banner"  />


</section>

<section class="services">
  <div class="section-title">
  <h2>Our Services</h2>
</div>

  <div class="service-cards">
    <div class="card">
      <h3>Prescription Refills</h3>
      <p>Manage your medication easily online or in-store.</p>
    </div>
    <div class="card">
      <h3>Medical Consultations</h3>
      <p>Talk to certified pharmacists anytime you need help.</p>
    </div>
    <div class="card">
      <h3>Health & Wellness</h3>
      <p>Shop supplements, skincare, hygiene & more.</p>
    </div>
  </div>
</section>

<section class="about">
  <h2>Why Choose Malak Medical?</h2>
  <p>
    We blend modern pharmaceutical care with a human touch. Our experts are always here to help, advise, and guide you to better health. 
    Experience personalized service and a wide selection of healthcare essentials.
  </p>
</section>

